.principal {
    height: 100vh;
}

.container {
    width: 100vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    text-align: center;
    max-width: 375px;
    background: var(--bg-container);
}

.email__descricao img{
    margin-bottom: 50px;
}

.email__titulo {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.email__titulo b{
    font-weight: bold;
}

.email__form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.email__input {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
}

input {
    width: 250px;
    padding: 12px;
    border: 1px solid var(--secundary-blue);
    border-radius: 20px;
}

.email__input input::placeholder {
    color: var(--secundary-blue);
}

.invalid{
    border-color: var(--secundary-red);
}

.email__error {
    font-family: none, sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--secundary-red);
}

.email__form button {
    width: 300px;
    max-width: 278px;
    font-weight: 600;
    border: none;
    background: var(--primary-color);
    color: var(--bg-container);
    padding: 12px;
    border-radius: 20px;
    align-self: center;
    cursor: pointer;
}

.image img {
    max-width: 100%;
}


@media screen and (min-width: 1024px) {
    .container {
        height: 90vh;
        max-width: 768px;
    }

    .email__descricao img:hover{
        transition: .2s;
        opacity: .6;
    }

    .email__titulo {
        color: hsl(0, 0%, 59%);
        font-size: 3em;
        font-weight: 500;
    }

    .email__titulo b {
        color: black;
    }

    .email__texto {
        font-size: 1.2em;
        font-weight: 500;
    }

    .email__input {
        display: flex;
        flex-direction: row;
    }

    input {
        width: 300px;
        padding: 12px;
        border: 1px solid var(--secundary-blue);
        border-radius: 20px;
    }

    .email__form button {
        width: 150px;
        transition: .2s;
    }

    .email__form button:hover {
        opacity: .8;
    }

    .email__error {  
        display: flex;      
        font-size: .7em;
        max-width: 480px;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 67px;
    }
    
}